%header.navbar.navbar-default#banner(rol="navigation")
  .container
    .navbar-header
      %a.navbar-brand(href="/")
        Tutor
        %strong Hub
      .login-prompt
        %a#sign_in_btn(href="#/login") LogIn
        %a#sign_up_btn(href="#/signup") JoinUs
