%header.navbar.navbar-default(id="banner" rol="navigation")
  .container
    .navbar-header
      %a(class="navbar-brand" href="#/")
        Tutor
        %strong Hub
    .login-prompt
      %a(id="sign_in_btn" href="#/") LogIn
      %a(id="sign_up_btn" href="#/") JoinUs
