<div class="container col-sm-offset-4 col-sm-4">
  <h3>Sign Up Now</h3>
  <!-- {{signupForm.name}}
  {{signupForm.name.$invalid}} -->
  <section>
    <button class="btn btn-primary"
            value="isTutor" title="isTutor" ng-click="setAs('Tutor')" ng-show="isEmployer">
      <span>I'm a tutor</span>
    </button>

    <button class="btn btn-primary"
            value="isEmployer" title="isEmployer" ng-click="setAs('Employer')" ng-show="isTutor">
      <span>I need a tutor</span>
    </button>
  </section>
  </br>
  <span>$scope.user: {{user}}</span>

  <!-- Base Sign Up Form -->

  <form name="signupForm" role="form" novalidate ng-submit="signup()">
    <div class="form-group"
         ng-class="{'has-error': signupForm.name.$invalid && signupForm.name.$dirty}">
      <input
        class="form-control"
        name="name"
        type="text"
        placeholder="Your Name"
        required
        ng-minlength="4"
        ng-model="user.name" />
    </div>
    <div class="form-group"
         ng-class="{'has-error': signupForm.email.$invalid && signupForm.email.$dirty}">
      <input
        class="form-control"
        name="email"
        type="email"
        placeholder="Email"
        required
        ng-minlength="4"
        ng-model="user.email" />
    </div>

    <div class="form-group"
         ng-class="{'has-error': signupForm.password.$invalid && signupForm.password.$dirty}">
      <input class="form-control"
        name="password"
        type="password"
        placeholder="Password"
        required
        ng-minlength="6"
        ng-model="user.password" />
    </div>
    <div class="form-group"
          ng-class="{'has-error': signupForm.password_confirmation.$invalid   &&
                  signupForm.password_confirmation.$dirty}">
      <input class="form-control"
       name="password_confirmation"
       type="password"
       placeholder="Confirm Your Password"
       required
       ng-minlength="6"
       pw-check
       ng-model="user.password_confirmation"
       ng-check="user.password" />
    </div>

    <!--Tutor profile -->
    <div ng-show="isTutor">
      <div class="form-group" >
       Male <input type="radio" name="gender" value="M" ng-model="survey.gender"   required/>
       Female <input type="radio" name="gender" value="F" ng-model="survey.gender" required/>
      </div>
      <div class="form-group">
        <span>Subjects Taught</span>
        <div
          multi-select
          input-model="subjectsTaught"
          output-model="user.subjectTaught"
          button-label="icon name"
          item-label="icon name maker"
          helper-elements="all reset"
          tick-property="ticked">
        </div>
      </div>

      <div class="form-group"
           ng-class="{'has-error': signupForm.education_level.$invalid && signupForm.education_level.$dirty}">
        <select ng-model="user.education_level"
                ng-options="education_level for education_level in education_levels">
         <option value="" default selected>Education Level</option>
        </select>
      </div>
      <div class="form-group"
           ng-class="{'has-error': signupForm.description.$invalid && signupForm.description.$dirty}">
        <textarea class="form-control"
                  name="description"
                  rows="6"
                  placeholder="Please tell the parents/students more about yourself."
                  required
                  ng-minlength="40"
                  ng-model="user.description" />
      </div>
    </div>



    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right"
         value="signup" title="signup" ng-disabled="!signupForm.$valid">
        <span>Sign Up</span>
      </button>
    </div>

  </form>
</div>
